<h1>Edit Film</h1>

<h1><%= @year.year %></h1> YOU ARE HERE!

<h2><%= @film.title %></h2>

<div class="card"  style="margin:10px;border:1px solid black;width:800px;margin:0 auto; padding: 25px;">
  <%= render "form" %>
</div>
