<div class="card" style="margin:10px;border:1px solid black;width:800px;margin:0 auto;">
  <div class="card-header" style="text-align:center;">
    <h2>Add a new film for <%= @year.year %></h2>
  </div>
  <div class="card-body" style="padding: 20px;">
    <%= render "form" %>
    <small style="margin: 0 auto;"><%= link_to "HOME", years_path %></small>
  </div>

</div>
