* {
  font-family: 'Gaegu', cursive;
}

#main {
  font-family: 'Shrikhand', cursive;
}

ul {
  list-style: none;
}

#years {
  font-size: 2em;
}

#years:hover {
  cursor: pointer;
  font-size: 4em; 
}
