<div class="card">
  <div class="card-header">
    <h1><%= @year.year %> FILMS</h1>
  </div>
  <div class="card-body">
    <% if @year.films.any? %>
      <% @alphabetized_films.each do |film| %>
        <% if film.year_id == @year.id %>
          <ul>
            <li id="film-list"><%= link_to film.title, year_film_path(@year, film) %></li>
          </ul>
        <% end %>
      <% end %>
      <% else %>
        <p>There are no films yet!</p>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to "ADD FILM", new_year_film_path(@year) %> |
    <%= link_to "HOME", years_path %>
  </div>
</div>
